d2to1==0.2.11
docutils==0.11
httplib2==0.8
iso8601==0.1.4
keyring==2.1.1
mock==1.0.1
os-diskconfig-python-novaclient-ext==0.1.1
os-networksv2-python-novaclient-ext==0.21
pbr==0.5.21
prettytable==0.7.2
pyrax==1.4.11
python-novaclient==2.14.1
python-swiftclient==1.6.0
rackspace-auth-openstack==1.0
rackspace-novaclient==1.3
rax-default-network-flags-python-novaclient-ext==0.1.3
rax-scheduled-images-python-novaclient-ext==0.2.1
requests==2.20.0
simplejson==3.3.0
six==1.3.0
wsgiref==0.1.2
